/* ==============================
   ESTRUCTURA GENERAL
============================== */
.cultura-page {
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
}

/* ==============================
   CONTENIDO PRINCIPAL
============================== */
.cultura-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
}

/* ==============================
   BANNER
============================== */
.cultura-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
}

/* ==============================
   TEXTO PRINCIPAL
============================== */
.cultura-text p {
  text-align: justify;
  color: #333;
  line-height: 1.6;
  word-spacing: normal;
  text-justify: inter-word;
  hyphens: auto;
}


/* ==============================
   LISTAS DE ACTIVIDADES
============================== */
.cultura-lista {
  list-style: none;
  padding-left: 0;
  color: #333;
  line-height: 1.8;
  padding: 0;
  margin: 0;
}

.cultura-lista li::before {
  content: "• ";
  color: #007a99;
  /* tono intermedio */
  font-weight: bold;
  margin-bottom: 6px;
}

/* ==============================
   COLORES TEMÁTICOS DE CULTURA
============================== */
.text-cultura {
  color: #004e72;
}

p.small {
  line-height: 1.4;
  text-align: justify;
}

.table-cultura {
  background-color: #d5eaf1;
}

/* ==============================
   IMÁGENES Y QR
============================== */
.cultura-actividades-img {
  max-width: 80%;
  border-radius: 10px;
}

.qr-cultura {
  width: 180px;
  height: auto;
}

/* ==============================
   CLASES CULTURALES (Danza y Música)
============================== */
.titulo-sub {
  font-size: 1.1rem;
  /* igual tamaño que “Actividades culturales” */
  font-weight: 600;
  color: #004e72;
  text-align: center;
  margin-bottom: 0.4rem;
}

.parrafo-cultura {
  font-size: 0.95rem;
  color: #555;
  text-align: justify;
  line-height: 1.5;
  margin-bottom: 0;
}

/* ==============================
   RESPONSIVE
============================== */
@media (max-width: 768px) {
  .cultura-banner img {
    max-height: 300px;
  }

  .cultura-lista {
    padding-left: 15px;
  }

  .cultura-actividades-img {
    max-width: 100%;
  }

  .titulo-sub {
    font-size: 1rem;
  }

  .parrafo-cultura {
    font-size: 0.9rem;
    text-align: left;
  }
}